extends ../scenes_base

block pictures
 div.scenes
  h1 2014年度 夏期合宿
  div.container
   div.row
    div.col-md-4
     p: a(href="/html/images/scene/summer_gassyuku2014_01.jpg" data-gallery): img.img-rounded.img-responsive(src="/html/images/scene/summer_gassyuku2014_01.jpg")
    div.col-md-4
     p: a(href="/html/images/scene/summer_gassyuku2014_02.jpg" data-gallery): img.img-rounded.img-responsive(src="/html/images/scene/summer_gassyuku2014_02.jpg")
    div.col-md-4
     p: a(href="/html/images/scene/summer_gassyuku2014_03.jpg" data-gallery): img.img-rounded.img-responsive(src="/html/images/scene/summer_gassyuku2014_03.jpg")
 
   div.row
    div.col-md-4
     p: a(href="/html/images/scene/summer_gassyuku2014_04.jpg" data-gallery): img.img-rounded.img-responsive(src="/html/images/scene/summer_gassyuku2014_04.jpg")
    div.col-md-4
     p: a(href="/html/images/scene/summer_gassyuku2014_05.jpg" data-gallery): img.img-rounded.img-responsive(src="/html/images/scene/summer_gassyuku2014_05.jpg")
