extends ./base

block each_css
 link(href="/css/clubInfo.css" type="text/css" rel="stylesheet")

block content
 div.leader
  div.container
   div.row
    h1.col-lg-offset-3.col-lg-6.col-lg-offset-3.col-md-offset-3.col-md-6.col-md-offset-3.col-sm-offset-2.col-sm-8.col-sm-offset-2.col-xs-offset-2.col-xs-8.col-xs-offset-2 指導陣
   p 剣道部を指導していただいている方々です
   table.table.table-striped.table-responsive
    tr
     td 師範
     td 石原 恒雄
    tr
     td 剣道部長
     td 水戸 和幸
    tr
     td 監督
     td 船戸 隆佑
    tr
     td 助監督
     td 菊池 浩行
        br
        |尾崎 量也
        br
        |水上 元
    tr
     td OB会長
     td 長沼 大夫

 div.clearfix
  div.container
   div.row
    div.col-lg-offset-1.col-lg-4.col-lg-offset-1.col-md-offset-1.col-md-4.col-md-offset-1.col-sm-offset-1.col-sm-10.col-sm-offset-1.col-xs-offset-1.col-xs-10.col-xs-offset-1
     h1 稽古時間
     table.table.table-striped
      tr
       td 月曜日
       td 16:30~18:00
      tr
       td 水曜日
       td 16:30~18:00
      tr
       td 金曜日
       td 16:30~18:00
      tr
       td 土曜日
       td 10:00~12:00
     
    div.col-lg-offset-1.col-lg-4.col-lg-offset-1.col-md-offset-1.col-md-4.col-md-offset-1.col-sm-offset-1.col-sm-10.col-sm-offset-1.col-xs-offset-1.col-xs-10.col-xs-offset-1
     h1 稽古内容
     p ストレッチ・準備体操
     p 素振り
     p 基本打ち
     p 地稽古
     p かかり稽古
     p 形稽古
  
 div.container
  div.row
   div.col-lg-offset-3.col-lg-6.col-lg-offset-3.col-md-offset-3.col-md-6.col-md-offset-3.col-sm-offset-1.col-sm-10.col-sm-offset-1.col-xs-offset-1.col-xs-10.col-xs-offset-1
    p: img.img-responsive.center-block(src="/images/clubInfo/map.jpg")

 div.clearfix
  div.container
   div.row.about
    div.col-lg-offset-2.col-lg-8.col-lg-offset-2.col-md-offset-2.col-md-8.col-md-offset-2.col-sm-offset-1.col-sm-10.col-sm-offset-1.col-xs-offset-1.col-xs-10.col-xs-offset-1
     h1 剣道部として
     p 基本的にはこのような順序、内容で練習を行っていますが、試合があるときには、部内戦を増やす、何かを強化するための練習を入れるなど、多少内容を変化させています。
     p 勉強が一番に優先されるので、短時間に質の高い練習ができるよう心がけ、勉強に差し障りのあるような無理な練習は行いません。
     p 各自、自分の体力に合わせて稽古に励んでいます。
     p なお、週末には会社員の先輩方もよく稽古にいらっしゃいますので、充実した稽古を積むことができます。
 
  div.container
   div.row.about
    div.col-lg-offset-2.col-lg-8.col-lg-offset-2.col-md-offset-2.col-md-8.col-md-offset-2.col-sm-offset-1.col-sm-10.col-sm-offset-1.col-xs-offset-1.col-xs-10.col-xs-offset-1
     h1 部活として
     p 色々な学科の先輩が在籍しているので、単位の取り方の相談や、勉強を教えてもらったりすることができます。
     p 稽古後はみんなで食事に行きますが、この時1年生はタダでご飯が食べられます。この時に限らず、先輩を見つければ基本的にいつでもタダ飯です。
