extends ./base

block content
 h1 稽古時間
 table
  tr
   td 月曜日
   td 16:30~18:00
  tr
   td 水曜日
   td 16:30~18:00
  tr
   td 金曜日
   td 16:30~18:00
  tr
   td 土曜日
   td 10:00~12:00

 h1 稽古内容
 ul
  li ストレッチ・準備体操
  li 振り
  li 基本打ち
  li 地稽古
  li かかり稽古
  li 形稽古

 h1 指導陣
 p 剣道部を指導していただいている方々です
 table
  tr
   td 師範
   td 石原 恒雄
  tr
   td 剣道部長
   td 水戸 和幸
  tr
   td 監督
   td 中嶋 剛
  tr
   td 助監督
   td 船戸 隆佑
      br
      松本 隆志
      br
      菊池 浩行
  tr
   td OB会長
   td 長沼 大夫

 h1 剣道部として
 p 基本的にはこのような順序、内容で練習を行っていますが、試合があるときには、部内戦を増やす、何かを強化するための練習を入れるなど、多少内容を変化させています。
 p 勉強が一番に優先されるので、短時間に質の高い練習ができるよう心がけ、勉強に差し障りのあるような無理な練習は行いません。
 p 各自、自分の体力に合わせて稽古に励んでいます。
 p なお、週末には会社員の先輩方もよく稽古にいらっしゃいますので、充実した稽古を積むことができます。

 h1 部活として
 p 色々な学科の先輩が在籍しているので、単位の取り方の相談や、勉強を教えてもらったりすることができます。
 p 稽古後はみんなで食事に行きますが、この時1年生はタダでご飯が食べられます。この時に限らず、先輩を見つければ基本的にいつでもタダ飯です。

 p
  img(src="./images/map.jpg")
