extends ./base

block each_css
 link(href="/html/css/index.css" type="text/css" rel="stylesheet")

block content
 p: img.top-image(src="/html/images/index/hyakurenjitoku.jpg" alt="Top image")
 div.news
  h1 <お知らせ>
  p 
   span.date 2015.11.30(Tue)
   br
   |新たにホームページを開設しました。
   br
   |以前のページをブックマークされている場合は、本ページを改めてご登録ください。
   br
   |今後とも、電気通信大学体育会剣道部をよろしくお願いいたします。
   br
   br
