extends ./base

block each_css
 link(href="/css/index.css" type="text/css" rel="stylesheet")
 // 以下、CSSじゃないけどSEO対策として必要
 meta(name="keywords" content="電通,電気通信大学,UEC,剣道")
 meta(name="description" content="電気通信大学体育会剣道部のホームページです。活動内容の紹介等を行っています。")

block content
 p: img.img-responsive(src="/images/index/hyakurenjitoku.jpg" alt="Top image")
 h1.text-center <お知らせ>

 div.news.container
  div.row
   div.col-lg-offset-3.col-lg-6.col-lg-offset-3.col-md-offset-2.col-md-8.col-md-offset-2.col-sm-12.col-xs-12
    p.text-center
     span.date 2016.11.15(Tue)
     br
     |2016.11.6(Sun)に電気通信大学にて関東理工科系学生新人剣道大会が行われましたので、結果をアップしました。
  div.row
   div.col-lg-offset-3.col-lg-6.col-lg-offset-3.col-md-offset-2.col-md-8.col-md-offset-2.col-sm-12.col-xs-12
    p.text-center
     span.date 2016.10.12(Wed)
     br
     |2016.9.11(Sun)に日本武道館にて関東学生剣道優勝大会が、2016.9.17(Sat)に東京武道館にて関東女子学生剣道優勝大会が行われましたので、結果をアップしました。
  div.row
   div.col-lg-offset-3.col-lg-6.col-lg-offset-3.col-md-offset-2.col-md-8.col-md-offset-2.col-sm-12.col-xs-12
    p.text-center
     span.date 2016.9.18(Sun)
     br
     |2016.9.4(Sun)に立教大学新座キャンパスにて行われました、明鏡杯争奪剣道大会の結果をアップしました。
  div.row
   div.col-lg-offset-3.col-lg-6.col-lg-offset-3.col-md-offset-2.col-md-8.col-md-offset-2.col-sm-12.col-xs-12
    p.text-center
     span.date 2016.6.30(Thu)
     br
     |2016.6.25(Sat)に野田市総合公園体育館にて行われました、関東理工科系学生剣道大会の結果をアップしました。
  div.row
   div.col-lg-offset-3.col-lg-6.col-lg-offset-3.col-md-offset-2.col-md-8.col-md-offset-2.col-sm-12.col-xs-12
    p.text-center
     span.date 2016.6.29(Wed)
     br
     |2016.6.4(Sat)に電気通信大学にて行われました、東京地区国公立大学剣道大会の結果をアップしました。
  div.row
   div.col-lg-offset-3.col-lg-6.col-lg-offset-3.col-md-offset-2.col-md-8.col-md-offset-2.col-sm-12.col-xs-12
    p.text-center
     span.date 2016.6.3(Fri)
     br
     |部員紹介に1年生を追加しました。
  div.row
   div.col-lg-offset-3.col-lg-6.col-lg-offset-3.col-md-offset-2.col-md-8.col-md-offset-2.col-sm-12.col-xs-12
    p.text-center
     span.date 2016.5.29(Sun)
     br
     |2016.5.29(Sun)に明治大学にて行われました、東京都学生剣道選手権大会の結果をアップしました。
  div.row
   div.col-lg-offset-3.col-lg-6.col-lg-offset-3.col-md-offset-2.col-md-8.col-md-offset-2.col-sm-12.col-xs-12
    p.text-center
     span.date 2016.5.15(Sun)
     br
     |2016.5.9(Sun)に日本武道館にて関東学生剣道選手権が、2016.5.14(Sat)に東京武道館にて関東女子学生剣道選手権が行われましたので、結果をアップしました。
  div.row
   div.col-lg-offset-3.col-lg-6.col-lg-offset-3.col-md-offset-2.col-md-8.col-md-offset-2.col-sm-12.col-xs-12
    p.text-center
     span.date 2015.12.9(Wed)
     br
     |2015.12.6(Sun)に五日市ファインプラザにて行われました、都下大学剣道大会の結果をアップしました。
  div.row
   div.col-lg-offset-3.col-lg-6.col-lg-offset-3.col-md-offset-2.col-md-8.col-md-offset-2.col-sm-12.col-xs-12
    p.text-center
     span.date 2015.12.5(Sat)
     br
     |新たにホームページを開設しました。
     br
     |以前のページをブックマークされている場合は、本ページを改めてご登録ください。
     br
     |今後とも、電気通信大学体育会剣道部をよろしくお願いいたします。
