extends ./base

block each_css
 link(href="css/index.css" type="text/css" rel="stylesheet")

block navbar
 li.active
  a(href="./index.html") トップ
 li
  a(href="./clubInfo.html") 部活紹介
 li
  a(href="./member.html") 部員紹介
 li
  a(href="./schedule.html") 予定表
 li
  a(href="./result.html") 試合結果
 li
  a(href="./scene.html") 活動風景
 li
  a(href="./link.html") リンク

block content
 p
  img.top-image(src="images/hyakurenjitoku.jpg" alt="Top image")
