extends ./base

block each_css
 link(href="css/link.css" type="text/css" rel="stylesheet")

block content
 div.links
  h1 剣道部について
  p: a(href="https://ja-jp.facebook.com/den2ken/", target="_blank") UEC KENDO Club Facebook
  p: a(href="https://www.youtube.com/channel/UC7KqfEazZNnpHDygcKr58VA", target="_blank") 電気通信大学体育会剣道部 Youtube

 div.links
  h1 剣道部OB会のブログ
  p: a(href="http://uecken.seesaa.net/", target="_blank") 電気通信大学剣友会

 div.links
  h1 お世話になっている剣道部
  p: a(href="http://www.geocities.co.jp/CollegeLife-Club/7826/", target="_blank") 東京農工大学剣道部
  p: a(href="http://www.geocities.jp/hosei_tec_kendo/", target="_blank") 法政大学 学友会 工学部体育連合会 剣道部
  p: a(href="http://tufskendo-club.d.dooo.jp/home/", target="_blank") 東京外国語大学 剣道部
 
 div.links
  h1 剣道関係
  p: a(href="http://www.kendo.or.jp/", target="_blank") 全日本剣道連盟
  p: a(href="http://chofukenren.net/", target="_blank") 調布市剣道連盟
 
 div.links
  h1 大学関係
  p: a(href="http://www.uec.ac.jp/", target="_blank") 電気通信大学
  p: a(href="http://uec.gakko-shuhen.jp/", target="_blank") 電気通信大学@情報館
  p: a(href="http://www.gakusei-walker.jp/s/%E9%9B%BB%E6%B0%97%E9%80%9A%E4%BF%A1%E5%A4%A7%E5%AD%A6", target="_blank") 学生WALKER 電気通信大学
