extends ./base

block each_css
 link(href="/html/css/member.css" type="text/css" rel="stylesheet")

block content
 div.text-center.department
  b *** 学科の略称 ***
  ul.list-inline
   li J: 総合情報学科
   li I: 情報・通信工学科
   li M: 知能機械工学科
   li S: 先進理工学科
   li K: 先端工学基礎課程

 div.text-center.department
  b *** 学類の略称 ***
  ul.list-inline
   li 1: 情報系
   li 2: 融合系
   li 3: 理工系

 div.container
  h1 4年生
  table.table.table-striped.table-responsive
   tr
    th 氏名
    th 所属学科
    th 段位
    th 出身高校
   tr
    td 稲積 愛子
    td M科
    td 三
    td 桜蔭高等学校

 div.container
  h1 3年生
  table.table.table-striped.table-responsive
   tr
    th 氏名
    th 所属学科
    th 段位
    th 出身高校
   tr 
    td 長谷川 俊成
    td M科
    td 四
    td 茗渓学園高等学校
   tr 
    td 岡野 峻也
    td S科
    td 三
    td 韮山高等学校
   tr 
    td 池崎 太一
    td M科
    td 四
    td 神奈川総合産業高等学校
   tr 
    td 粟島 裕大
    td S科
    td 三
    td 東京工業大学付属科学技術高等学校
   tr 
    td 小林 嵩弥
    td S科
    td 二
    td 桐蔭学園中等教育学校
   tr 
    td 齊藤 有紀
    td S科
    td 三
    td 大妻多摩中学高等学校
   tr 
    td 関口 雄太
    td I科
    td 三
    td 稲毛高等学校
   tr 
    td 豊田 悠貴
    td I科
    td 初
    td 錦城高等学校
   tr 
    td 中原 達人
    td S科
    td 三
    td 調布北高等学校
   tr 
    td 松本 一朗
    td M科
    td 三
    td 本郷高等学校
   tr 
    td 石井 琢満
    td I科
    td 三
    td 志学館高等学校

 div.container
  h1 2年生
  table.table.table-striped.table-responsive
   tr
    th 氏名
    th 所属学科
    th 段位
    th 出身高校
   tr 
    td 上岡 弘弥
    td K課程
    td 三
    td 東山高等学校
   tr 
    td 苅谷 奈々
    td M科
    td 三
    td 横浜平沼高等学校
   tr 
    td 菊池 竣介
    td M科
    td 初
    td 調布北高等学校
   tr 
    td 喜地 雅人
    td S科
    td 三
    td 長生高等学校
   tr 
    td 夏目 康平
    td I科
    td 三
    td 田辺高等学校
   tr 
    td 平井 周
    td I科
    td 三
    td 横浜翠嵐高等学校
   tr 
    td 細田 正吾
    td K課程
    td 三
    td 北杜高等学校
   tr 
    td 正岡 麻里奈
    td S科
    td 三
    td 大妻高等学校
   tr 
    td 丸谷 知正
    td S科
    td 三
    td 仙台第二高等学校

 div.container
  h1 1年生
  table.table.table-striped.table-responsive
   tr
    th 氏名
    th 所属学類
    th 段位
    th 出身高校
   tr 
    td 酒井 啓輔
    td 後期配属予定
    td 三
    td 沼津東高等学校
   tr 
    td 本村 健治
    td 後期配属予定
    td 初
    td 長崎東高等学校
