extends ./base

block each_css
 link(href="/css/result.css" type="text/css" rel="stylesheet")

block content
 div.results
  div.container
   div.row
    h1.col-lg-offset-3.col-lg-6.col-lg-offset-3.col-md-offset-3.col-md-6.col-md-offset-3.col-sm-offset-3.col-sm-6.col-sm-offset-3.col-xs-offset-3.col-xs-6.col-xs-offset-3 2016年度
  p: a(href="results/2016/shinjinsen.html", target="_self") 関東学生剣道新人戦大会
  p: a(href="results/2016/tyofu_shimin_kojin.html", target="_self") 調布市民体育祭剣道競技大会
  p: a(href="results/2016/tokataikai.html", target="_self") 都下大学剣道大会
  p: a(href="results/2016/rikouka_shinjin.html", target="_self") 関東理工科系学生新人剣道大会
  p: a(href="results/2016/joshi_yusyotaikai.html", target="_self") 関東女子学生剣道優勝大会
  p: a(href="results/2016/yusyotaikai.html", target="_self") 関東学生剣道優勝大会
  p: a(href="results/2016/meikyohai.html", target="_self") 明鏡杯争奪剣道大会
  p: a(href="results/2016/rikouka.html", target="_self") 関東理工科系学生剣道大会
  p: a(href="results/2016/kokkoritsu.html", target="_self") 東京地区国公立大学剣道大会
  p: a(href="results/2016/toukyoto_gakusei.html", target="_self") 東京都学生剣道選手権大会
  p: a(href="results/2016/kanto_joshigakusei.html", target="_self") 関東女子学生剣道選手権大会
  p: a(href="results/2016/kanto_gakusei.html", target="_self") 関東学生剣道選手権大会

 div.results
  div.container
   div.row
    h1.col-lg-offset-3.col-lg-6.col-lg-offset-3.col-md-offset-3.col-md-6.col-md-offset-3.col-sm-offset-3.col-sm-6.col-sm-offset-3.col-xs-offset-3.col-xs-6.col-xs-offset-3 2015年度
  p: a(href="results/2015/tokataikai.html", target="_self") 都下大学剣道大会
  p: a(href="results/2015/shinjinsen.html", target="_self") 関東学生剣道新人戦大会
  p: a(href="results/2015/tyofu_shimin_kojin.html", target="_self") 調布市民体育祭剣道競技大会
  p: a(href="results/2015/rikouka_shinjin.html", target="_self") 関東理工科系学生新人剣道大会
  p: a(href="results/2015/joshi_yusyotaikai.html", target="_self") 関東女子学生剣道優勝大会
  p: a(href="results/2015/yusyotaikai.html", target="_self") 関東学生剣道優勝大会
  p: a(href="results/2015/meikyohai.html", target="_self") 明鏡杯争奪剣道大会
  p: a(href="results/2015/rikouka.html", target="_self") 関東理工科系学生剣道大会
  p: a(href="results/2015/kokkoritsu.html", target="_self") 東京地区国公立大学剣道大会
  p: a(href="results/2015/toukyoto_gakusei.html", target="_self") 東京都学生剣道選手権大会
  p: a(href="results/2015/kanto_joshigakusei.html", target="_self") 関東女子学生剣道選手権大会
  p: a(href="results/2015/kanto_gakusei.html", target="_self") 関東学生剣道選手権大会

 div.results
  div.container
   div.row
    h1.col-lg-offset-3.col-lg-6.col-lg-offset-3.col-md-offset-3.col-md-6.col-md-offset-3.col-sm-offset-3.col-sm-6.col-sm-offset-3.col-xs-offset-3.col-xs-6.col-xs-offset-3 2014年度
  // p: a(href="results/2014/tokataikai.html", target="_self") 都下大学剣道大会
  p: a(href="results/2014/shinjinsen.html", target="_self") 関東学生剣道新人戦大会
  p: a(href="results/2014/yusyotaikai.html", target="_self") 関東学生剣道優勝大会
  p: a(href="results/2014/meikyohai.html", target="_self") 明鏡杯争奪剣道大会
  p: a(href="results/2014/kokkoritsu.html", target="_self") 東京地区国公立大学剣道大会
  p: a(href="results/2014/tyofu_shimin_dantai.html", target="_self") 調布市民剣道大会
  p: a(href="results/2014/kanto_gakusei.html", target="_self") 関東学生剣道選手権大会
