extends ./base

block each_css
 link(href="/html/css/scene.css" type="text/css" rel="stylesheet")

block content
 div.scenes
  h1 2015年度
  // p: a(href="scenes/2015/cambridge2015.html", target="_self") ケンブリッジ大学遠征
  p: a(href="scenes/2015/summer_gassyuku2015.html", target="_self") 夏期合宿

 div.scenes
  h1 2014年度
  // p: a(href="scenes/2014/travel2014.html", target="_self") 慰安旅行
  p: a(href="scenes/2014/summer_gassyuku2014.html", target="_self") 夏期合宿
