extends ./base

block each_css
 link(href="/css/scene.css" type="text/css" rel="stylesheet")

block content
 div.scenes
  div.container
   div.row
    h1.col-lg-offset-3.col-lg-6.col-lg-offset-3.col-md-offset-3.col-md-6.col-md-offset-3.col-sm-offset-3.col-sm-6.col-sm-offset-3.col-xs-offset-3.col-xs-6.col-xs-offset-3 2015年度
  // p: a(href="scenes/2015/cambridge2015.html", target="_self") ケンブリッジ大学遠征
  p: a(href="scenes/2015/summer_gassyuku2015.html", target="_self") 夏期合宿

 div.scenes
  div.container
   div.row
    h1.col-lg-offset-3.col-lg-6.col-lg-offset-3.col-md-offset-3.col-md-6.col-md-offset-3.col-sm-offset-3.col-sm-6.col-sm-offset-3.col-xs-offset-3.col-xs-6.col-xs-offset-3 2014年度
  // p: a(href="scenes/2014/travel2014.html", target="_self") 慰安旅行
  p: a(href="scenes/2014/summer_gassyuku2014.html", target="_self") 夏期合宿
