extends ./base

block each_css
 link(href="css/schedule.css" type="text/css" rel="stylesheet")

block content
 div.clearfix
  div.pull-left
   h1.text-center 今月の予定
   iframe.calendar(src="https://www.google.com/calendar/embed?src=den2kendo.hotline%40gmail.com&ctz=Asia/Tokyo" frameborder="0" scrolling="no")
 
  div.pull-right
   h1.text-center 年間の予定
   table.table.table-bordered.table-striped
    tr
     th
     th 剣道部の予定
     th 大学の予定
    tr
     td 4月
     td 新歓コンパ
     td 前学期開始 
        br
        |入学式
    tr
     td 5月
     td 関東学生剣道選手権大会
     td
    tr
     td 6月
     td 東京都国公立大会
        br
        |関東理工科大会
        br
        |調布市民剣道大会
     td
    tr
     td 7月
     td 前期納会
     td
    tr
     td 8月
     td 夏季合宿
     td 前期試験
        br
        |夏休み
    tr
     td 9月
     td 関東学生剣道優勝大会
     td
    tr
     td 10月
     td 関東理工科新人大会
     td 後学期開始
        br
        |体育祭
    tr
     td 11月
     td 調布市民剣道大会
        br
        |関東学生剣道新人大会
     td 調布祭
    tr  
     td 12月
     td 都下大会
        br
        |後期納会
     td 冬休み
    tr
     td 1月
     td 寒稽古
        br
        |お汁粉会
     td
    tr
     td 2月
     td 慰安旅行
     td 後期試験
        br
        |春休み
    tr
     td 3月
     td 追い出しコンパ
     td
