.leader {
    text-align:     center;
	margin:		    40px 0px 40px;
}

.leader h1 {
	border-bottom:		solid 2px blue;
}

.clearfix {
	margin:			0px 0px 30px;
}

.row {
    text-align:     center;
}

.row h1 {
    border-bottom:  solid 2px blue;
}

.map {
	text-align:		center;
	margin:			0px 0px 30px;
}
