caption {
	text-align:	center;
	font-size:	30px;
	color:		black;
}

th {
	text-align:	center;
}

td {
	text-align:	center;
}

.table {
	width:		1000px;
	margin:		0px auto 50px;
}

.department {
	margin:		20px 200px 0px;
}

.depertment p {
}
