h1 {
	text-align:	    center;
	margin:		    0px 0px 30px;
    border-bottom:  solid 2px blue;
}

@media screen and (max-width: 767px){ /* col-xs */
    iframe {
        height: 400px;
        width:  100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){ /* col-sm */
    iframe {
        height: 480px;
        width:  100%;
    }
}

@media screen and (min-width: 992px){ /* col-md, col-lg */
    iframe {
        height: 540px;
        width:  100%;
    }
}

td {
	text-align:	    center;
}

th {
	text-align:	    center;
}
