extends ../scenes_base

block pictures
 div.scenes
  h1 2015年度 夏期合宿
  div.container
   div.row
    div.col-md-4
     p: a(href="/html/images/scene/summer_gassyuku2015_01.jpg" data-gallery): img.img-rounded.img-responsive(src="/html/images/scene/summer_gassyuku2015_01.jpg")
    div.col-md-4
     p: a(href="/html/images/scene/summer_gassyuku2015_02.jpg" data-gallery): img.img-rounded.img-responsive(src="/html/images/scene/summer_gassyuku2015_02.jpg")
    div.col-md-4
     p: a(href="/html/images/scene/summer_gassyuku2015_03.jpg" data-gallery): img.img-rounded.img-responsive(src="/html/images/scene/summer_gassyuku2015_03.jpg")
