extends ../../base

block each_css
 link(href="/css/result.css" type="text/css" rel="stylesheet")
 
block content
 div.results
  div.container
   div.row
    h1.col-lg-offset-2.col-lg-8.col-lg-offset-2.col-md-offset-2.col-md-8.col-md-offset-2.col-sm-offset-2.col-sm-8.col-sm-offset-2.col-xs-offset-2.col-xs-8.col-xs-offset-2 2017年度 関東学生剣道選手権大会
   h2 男子個人 1回戦
   table.table.table-striped.table-responsive
    tr
     td 電通大
     td 長谷川
     td
     td -
     td メ
     td 松本
     td 桐蔭大
    tr
     td 電通大
     td 石井
     td
     td -
     td コ
     td 田中
     td 学習院大
    tr
     td 電通大
     td 上岡
     td コ
     td -
     td
     td 星谷
     td 麗大
   h2 男子個人 2回戦
   table.table.table-striped.table-responsive
    tr
     td 電通大
     td 上岡
     td
     td -
     td ド メ
     td 藤野
     td 國學院大
