extends ../../base

block each_css
 link(href="/css/result.css" type="text/css" rel="stylesheet")

block content
 div.results
  div.container
   div.row
    h1.col-lg-offset-2.col-lg-8.col-lg-offset-2.col-md-offset-2.col-md-8.col-md-offset-2.col-sm-offset-2.col-sm-8.col-sm-offset-2.col-xs-offset-2.col-xs-8.col-xs-offset-2 2017年度 関東理工科系学生剣道大会
   h2 男子団体 1回戦
   table.table.table-striped.table-responsive
    tr
     td: b 電通大
     td
     td -
     td
     td: b 東工大
    tr
     td 夏目
     td
     td -
     td メ メ ▲
     td 伊藤
    tr
     td 本村
     td
     td -
     td
     td 武田
    tr
     td 喜地
     td
     td -
     td
     td 石坂
    tr
     td 平井
     td
     td -
     td メ
     td 谷
    tr
     td 上岡
     td
     td -
     td コ コ
     td 松尾
    tr
     td 石井
     td ド ド
     td -
     td
     td 小見山
    tr
     td 長谷川
     td メ メ ▲
     td -
     td
     td 本間
    tr
     td
     td 4/2
     td -
     td 5/3
     td
   h2 男子個人 1回戦
   table.table.table-striped.table-responsive
    tr
     td 電通大
     td 夏目
     td ○ ○
     td -
     td
     td 渡邉
     td 農工大
   h2 男子個人 2回戦
   table.table.table-striped.table-responsive
    tr
     td 電通大
     td 喜地
     td
     td -
     td メ
     td 末定
     td 明治大
    tr
     td 電通大
     td 夏目
     td
     td -
     td ド ▲
     td 本間
     td 東工大
    tr
     td 電通大
     td 小松
     td ▲
     td -
     td メ メ
     td 河野
     td 早大
   h2 女子個人 1回戦
   table.table.table-striped.table-responsive
    tr
     td 電通大
     td 斎藤
     td
     td -
     td メ メ
     td 坂本
     td 東大
   h2 女子個人 2回戦
   table.table.table-striped.table-responsive
    tr
     td 電通大
     td 苅谷
     td メ メ
     td -
     td
     td 前田
     td 東京工科大
   h2 女子個人 3回戦
   table.table.table-striped.table-responsive
    tr
     td 電通大
     td 苅谷
     td メ メ
     td -
     td
     td 中家
     td 工学院大
   h2 女子個人 4回戦
   table.table.table-striped.table-responsive
    tr
     td 電通大
     td 苅谷
     td
     td -
     td メ
     td 横幕
     td 早大
