extends ../../base

block each_css
 link(href="/css/result.css" type="text/css" rel="stylesheet")

block content
 div.results
  div.container
   div.row
    h1.col-lg-offset-2.col-lg-8.col-lg-offset-2.col-md-offset-2.col-md-8.col-md-offset-2.col-sm-offset-2.col-sm-8.col-sm-offset-2.col-xs-offset-2.col-xs-8.col-xs-offset-2 2017年度 調布市民剣道大会
   h2 男子団体 1回戦
   table.table.table-striped.table-responsive
    tr
     td: b 電通大A
     td
     td
     td
     td: b 大町B
    tr
     td 小松
     td メ メ
     td -
     td
     td 富田
    tr
     td 苅谷
     td メ メ
     td -
     td
     td 米野
    tr
     td 遠藤
     td コ メ
     td -
     td
     td 秋元
    tr
     td 喜地
     td
     td -
     td
     td 伊藤
    tr
     td 夏目
     td メ
     td -
     td
     td 小西
    tr
     td
     td 7/4
     td -
     td 0/0
     td
   table.table.table-striped.table-responsive
    tr
     td: b 電通大B
     td
     td
     td
     td: b 染地A
    tr
     td 芳野
     td メ メ
     td -
     td
     td 柘植
    tr
     td 長谷川
     td メ コ
     td -
     td
     td 眞野
    tr
     td 嶋影
     td メ メ
     td -
     td メ
     td 土田
    tr
     td 岡村
     td
     td -
     td メ メ
     td 海藤
    tr
     td 山崎
     td
     td -
     td
     td 余座
    tr
     td
     td 6/3
     td -
     td 3/1
     td
   h2 男子団体 2回戦
   table.table.table-striped.table-responsive
    tr
     td: b 電通大A
     td
     td
     td
     td: b 狛江A
    tr
     td 小松
     td ド メ
     td -
     td
     td 木下
    tr
     td 苅谷
     td メ
     td -
     td
     td 後藤
    tr
     td 遠藤
     td コ コ
     td -
     td
     td 階藤
    tr
     td 喜地
     td メ メ
     td -
     td
     td 飯田
    tr
     td 夏目
     td メ コ
     td -
     td
     td 内田
    tr
     td
     td 9/5
     td -
     td 0/0
     td
   table.table.table-striped.table-responsive
    tr
     td: b 電通大B
     td
     td
     td
     td: b 大町A
    tr
     td 芳野
     td メ ド
     td -
     td
     td 平沼
    tr
     td 長谷川
     td コ
     td -
     td
     td 柴崎
    tr
     td 嶋影
     td
     td -
     td メ メ
     td 太田
    tr
     td 岡村
     td メ
     td -
     td
     td 三宅
    tr
     td 山崎
     td メ
     td -
     td ド
     td 西村
    tr
     td
     td 5/3
     td -
     td 3/1
     td
   h2 男子団体 準決勝
   table.table.table-striped.table-responsive
    tr
     td: b 電通大A
     td
     td
     td
     td: b 第七機動隊
    tr
     td 小松
     td
     td -
     td メ ド
     td 横濱
    tr
     td 苅谷
     td
     td -
     td
     td 山内
    tr
     td 遠藤
     td
     td -
     td メ
     td 谷口
    tr
     td 喜地
     td
     td -
     td ド
     td 藤野
    tr
     td 夏目
     td メ
     td -
     td コ メ
     td 秋元
    tr
     td
     td 1/0
     td -
     td 6/4
     td
   table.table.table-striped.table-responsive
    tr
     td: b 電通大B
     td
     td
     td
     td: b 中央A
    tr
     td 芳野
     td ド
     td -
     td
     td 村上
    tr
     td 長谷川
     td コ メ
     td -
     td
     td 藤田
    tr
     td 嶋影
     td
     td -
     td
     td 小野
    tr
     td 岡村
     td
     td -
     td ツ ド
     td 田邉
    tr
     td 山崎
     td メ
     td -
     td
     td 斎藤
    tr
     td
     td 4/3
     td -
     td 2/1
     td
   h2 男子団体 決勝
   table.table.table-striped.table-responsive
    tr
     td: b 電通大B
     td
     td
     td
     td: b 第七機動隊
    tr
     td 芳野
     td ド メ
     td -
     td
     td 横濱
    tr
     td 長谷川
     td
     td -
     td メ ド
     td 山内
    tr
     td 嶋影
     td
     td -
     td メ メ
     td 谷口
    tr
     td 岡村
     td
     td -
     td コ メ
     td 藤野
    tr
     td 山崎
     td ▲
     td -
     td
     td 秋元
    tr
     td
     td 0/0
     td -
     td 8/4
     td
