extends ../../base

block each_css
 link(href="/css/result.css" type="text/css" rel="stylesheet")
 
block content
 div.results
  div.container
   div.row
    h1.col-lg-offset-2.col-lg-8.col-lg-offset-2.col-md-offset-2.col-md-8.col-md-offset-2.col-sm-offset-2.col-sm-8.col-sm-offset-2.col-xs-offset-2.col-xs-8.col-xs-offset-2 2016年度 関東学生剣道選手権大会
   h2 男子個人 1回戦
   table.table.table-striped.table-responsive
    tr
     td 電通大
     td 長谷川
     td 
     td -
     td メ メ
     td 加納
     td 筑波大
    tr
     td 電通大
     td 上岡
     td メ
     td -
     td メ コ
     td 佐藤
     td 白鷗大
    tr
     td 電通大
     td 喜地
     td
     td -
     td コ
     td 岸本
     td 麗澤大
    tr
     td 電通大
     td 平井
     td
     td -
     td メ ド
     td 加藤
     td 順天堂大
