extends ../../base

block each_css
 link(href="/html/css/result.css" type="text/css" rel="stylesheet")
 
block content
 div.results
  div.container
   div.row
    h1.col-lg-offset-2.col-lg-8.col-lg-offset-2.col-md-offset-2.col-md-8.col-md-offset-2.col-sm-offset-2.col-sm-8.col-sm-offset-2.col-xs-offset-2.col-xs-8.col-xs-offset-2 2016年度 関東女子学生剣道選手権大会
   h2 女子個人 1回戦
   table.table.table-striped.table-responsive
    tr
     td 電通大
     td 稲積
     td
     td -
     td コ メ
     td 金屋
     td 城西国際大
    tr
     td 電通大
     td 齋藤
     td
     td -
     td メ メ
     td 沖
     td 日女体大
    tr
     td 電通大
     td 苅谷
     td
     td -
     td メ
     td 齋藤
     td 流大
