extends ../../base

block each_css
 link(href="/css/result.css" type="text/css" rel="stylesheet")
 
block content
 div.results
  div.container
   div.row
    h1.col-lg-offset-2.col-lg-8.col-lg-offset-2.col-md-offset-2.col-md-8.col-md-offset-2.col-sm-offset-2.col-sm-8.col-sm-offset-2.col-xs-offset-2.col-xs-8.col-xs-offset-2 2016年度 明鏡杯争奪剣道大会
   h2 男子団体 予選トーナメント 第1試合
   table.table.table-striped.table-responsive
    tr
     td: b 電通大
     td
     td -
     td
     td: b 武蔵大
    tr
     td 夏目
     td
     td -
     td コ メ
     td 秋庭
    tr
     td 本村
     td
     td -
     td メ
     td 石川
    tr
     td 上岡
     td
     td -
     td ド メ
     td 高橋
    tr
     td 喜地
     td
     td -
     td
     td 鈴木
    tr
     td 平井
     td
     td -
     td
     td 野木
    tr
     td 関口
     td
     td -
     td コ
     td 麻生
    tr
     td 長谷川
     td
     td -
     td
     td 鈴木
    tr
     td
     td 0/0
     td -
     td 6/4
     td
   h2 男子団体 予選トーナメント 第2試合
   table.table.table-striped.table-responsive
    tr
     td: b 電通大
     td
     td -
     td
     td: b 武蔵野大
    tr
     td 夏目
     td メ
     td -
     td コ メ
     td 鈴木
    tr
     td 本村
     td コ メ
     td -
     td
     td 立石
    tr
     td 上岡
     td ○ ○
     td -
     td
     td
    tr
     td 酒井
     td メ
     td -
     td ▲
     td 稲原
    tr
     td 長谷川
     td ○ ○
     td -
     td
     td
    tr
     td 関口
     td
     td -
     td メ
     td 小林
    tr
     td 喜地
     td
     td -
     td メ
     td 船山
    tr
     td
     td 8/4
     td -
     td 4/3
     td
   h2 男子団体 予選トーナメント 第3試合
   table.table.table-striped.table-responsive
    tr
     td: b 電通大
     td
     td -
     td
     td: b 二松学舎大
    tr
     td 夏目
     td メ ド
     td -
     td
     td 櫛渕
    tr
     td 本村
     td メ メ
     td -
     td ド
     td 疋田
    tr
     td 丸谷
     td メ
     td -
     td
     td 田原
    tr
     td 喜地
     td
     td -
     td メ
     td 桃
    tr
     td 平井
     td メ
     td -
     td
     td 大野
    tr
     td 関口
     td コ
     td -
     td コ ド
     td 狩野
    tr
     td 長谷川
     td コ メ
     td -
     td
     td 渡邊
    tr
     td
     td 9/5
     td -
     td 4/2
     td
   h2 男子団体 決勝トーナメント 第1試合
   table.table.table-striped.table-responsive
    tr
     td: b 電通大
     td
     td -
     td
     td: b 立教大
    tr
     td 夏目
     td
     td -
     td コ コ
     td 白井
    tr
     td 本村
     td
     td -
     td メ ド
     td 飯泉
    tr
     td 上岡
     td
     td -
     td メ コ
     td 大平
    tr
     td 喜地
     td コ
     td -
     td
     td 向
    tr
     td 平井
     td
     td -
     td メ メ
     td 山口
    tr
     td 関口
     td
     td -
     td メ メ
     td 西村
    tr
     td 長谷川
     td メ
     td -
     td
     td 高木
    tr
     td
     td 2/2
     td -
     td 10/5
     td
   h2 女子団体 予選トーナメント 第1試合
   table.table.table-striped.table-responsive
    tr
     td: b 電通大(混成)
     td
     td -
     td
     td: b 上智大
    tr
     td 吉田(武蔵大)
     td
     td -
     td メ
     td 長澤
    tr
     td 西郷(武蔵大)
     td
     td -
     td メ メ
     td 林
    tr
     td 苅谷
     td
     td -
     td
     td 向島
    tr
     td 斎藤
     td
     td -
     td メ メ
     td 久芳
    tr
     td 稲積
     td ▲
     td -
     td メ メ
     td 辻
    tr
     td
     td 0/0
     td -
     td 7/4
     td
   h2 女子団体 予選トーナメント 第2試合
   table.table.table-striped.table-responsive
    tr
     td: b 電通大(混成)
     td
     td -
     td
     td: b 東邦大
    tr
     td 正岡
     td
     td -
     td コ コ
     td 平山
    tr
     td 吉田(武蔵大)
     td ○ ○
     td -
     td
     td
    tr
     td 苅谷
     td メ
     td -
     td
     td 平田
    tr
     td 西郷(武蔵大)
     td メ メ
     td -
     td
     td 佐藤
    tr
     td 稲積
     td
     td -
     td メ コ
     td 岡田
    tr
     td
     td 5/3
     td -
     td 4/2
     td
   h2 女子団体 決勝トーナメント 第1試合
   table.table.table-striped.table-responsive
    tr
     td: b 電通大(混成)
     td
     td -
     td
     td: b 青学大
    tr
     td 西郷(武蔵大)
     td
     td -
     td メ メ
     td 須藤
    tr
     td 斎藤
     td
     td -
     td メ
     td 上野
    tr
     td 苅谷
     td
     td -
     td ド コ
     td 小潟
    tr
     td 稲積
     td
     td -
     td メ コ
     td 佐藤
    tr
     td 吉田(武蔵大)
     td
     td -
     td メ メ
     td 轟原
    tr
     td
     td 0/0
     td -
     td 9/5
     td
