extends ../../base

block each_css
 link(href="/css/result.css" type="text/css" rel="stylesheet")
 
block content
 div.results
  div.container
   div.row
    h1.col-lg-offset-2.col-lg-8.col-lg-offset-2.col-md-offset-2.col-md-8.col-md-offset-2.col-sm-offset-2.col-sm-8.col-sm-offset-2.col-xs-offset-2.col-xs-8.col-xs-offset-2 2016年度 関東理工科系学生新人剣道大会
   h2 男子団体 1回戦
   table.table.table-striped.table-responsive
    tr
     td: b 電通大
     td
     td -
     td
     td: b 千葉工業大
    tr
     td 夏目
     td
     td -
     td
     td 宮下
    tr
     td 本村
     td メ
     td -
     td メ メ
     td 岩畑
    tr
     td 丸谷
     td メ
     td -
     td コ
     td 高橋
    tr
     td 平井
     td メ
     td -
     td
     td 加藤
    tr
     td 酒井
     td メ
     td -
     td メ
     td 矢敷
    tr
     td 喜地
     td
     td -
     td メ
     td 吉野
    tr
     td 上岡
     td メ
     td -
     td メ
     td 田中
    tr
     td
     td 5/1
     td -
     td 6/2
     td
   h2 男子個人 1回戦
   table.table.table-striped.table-responsive
    tr
     td 電通大
     td 喜地
     td メ コ
     td -
     td
     td 谷川
     td 上智大
    tr
     td 電通大
     td 酒井
     td メ
     td -
     td
     td 勝又
     td 山梨大
   h2 男子個人 2回戦
   table.table.table-striped.table-responsive
    tr
     td 電通大
     td 喜地
     td メ メ
     td -
     td
     td 大勝
     td 東工大
    tr
     td 電通大
     td 酒井
     td
     td -
     td ツ
     td 小清水
     td 工学院大
    tr
     td 電通大
     td 本村
     td メ コ
     td -
     td
     td 村田
     td 早稲田大
   h2 男子個人 3回戦
   table.table.table-striped.table-responsive
    tr
     td 電通大
     td 喜地
     td
     td -
     td コ コ
     td 中村
     td 都市大
    tr
     td 電通大
     td 本村
     td
     td -
     td メ ド
     td 石木田
     td 宇都宮大
   h2 女子個人 1回戦
   table.table.table-striped.table-responsive
    tr
     td 電通大
     td 苅谷
     td ○ ○
     td -
     td
     td 三浦
     td 山梨大
    tr
     td 電通大
     td 正岡
     td
     td -
     td コ コ
     td 及川
     td 都市大
   h2 女子個人 2回戦
   table.table.table-striped.table-responsive
    tr
     td 電通大
     td 苅谷
     td
     td -
     td ド
     td 栗村
     td 筑波大
