extends ../../base

block each_css
 link(href="/css/result.css" type="text/css" rel="stylesheet")
 
block content
 div.results
  div.container
   div.row
    h1.col-lg-offset-2.col-lg-8.col-lg-offset-2.col-md-offset-2.col-md-8.col-md-offset-2.col-sm-offset-2.col-sm-8.col-sm-offset-2.col-xs-offset-2.col-xs-8.col-xs-offset-2 2016年度 関東学生剣道新人戦大会
   h2 男子団体 1回戦
   table.table.table-striped.table-responsive
    tr
     td: b 電通大
     td
     td -
     td
     td: b 武蔵野大
    tr
     td 夏目
     td メ メ
     td -
     td
     td 鈴木
    tr
     td 喜地
     td ○ ○
     td -
     td
     td
    tr
     td 本村
     td ○ ○
     td -
     td
     td
    tr
     td 平井
     td メ メ
     td -
     td
     td 立石
    tr
     td 丸谷
     td ○ ○ 
     td -
     td
     td
    tr
     td 酒井
     td メ
     td -
     td
     td 稲原
    tr
     td 上岡
     td メ
     td -
     td
     td 小林
    tr
     td
     td 12/7
     td -
     td 0/0
     td
   h2 男子団体 2回戦
   table.table.table-striped.table-responsive
    tr
     td: b 電通大
     td
     td -
     td
     td: b 駒澤大
    tr
     td 夏目
     td
     td -
     td コ コ
     td 福田
    tr
     td 喜地
     td
     td -
     td
     td 中村
    tr
     td 本村
     td
     td -
     td ド
     td 久賀
    tr
     td 平井
     td
     td -
     td メ ド
     td 白鳥
    tr
     td 丸谷
     td ▲
     td -
     td メ ド
     td 石川
    tr
     td 酒井
     td
     td -
     td メ メ
     td 内久保
    tr
     td 上岡
     td メ
     td -
     td コ メ
     td 桑原
    tr
     td
     td 1/0
     td -
     td 11/6
     td
