extends ../../base

block each_css
 link(href="/css/result.css" type="text/css" rel="stylesheet")
 
block content
 div.results
  div.container
   div.row
    h1.col-lg-offset-2.col-lg-8.col-lg-offset-2.col-md-offset-2.col-md-8.col-md-offset-2.col-sm-offset-2.col-sm-8.col-sm-offset-2.col-xs-offset-2.col-xs-8.col-xs-offset-2 2016年度 東京都学生剣道選手権大会
   h2 男子個人 1回戦
   table.table.table-striped.table-responsive
    tr
     td 電通大
     td 上岡
     td メ コ
     td -
     td
     td 稲吉
     td 杏林大
    tr
     td 電通大
     td 丸谷
     td
     td -
     td メ
     td 大野
     td 東大
    tr
     td 電通大
     td 本村
     td
     td -
     td メ
     td 平島
     td 拓大
   h2 男子個人 2回戦
   table.table.table-striped.table-responsive
    tr
     td 電通大
     td 上岡
     td
     td -
     td メ メ
     td 小川
     td 日体大
    tr
     td 電通大
     td 菊池
     td
     td -
     td ド メ
     td 白山
     td 立大
   h2 女子個人 2回戦
   table.table.table-striped.table-responsive
    tr
     td 電通大
     td 齋藤
     td
     td -
     td コ メ
     td 向島
     td 上智大
    tr
     td 電通大
     td 苅谷
     td
     td -
     td メ
     td 室根
     td 拓大
