extends ../../base

block each_css
 link(href="/css/result.css" type="text/css" rel="stylesheet")
 
block content
 div.results
  div.container
   div.row
    h1.col-lg-offset-2.col-lg-8.col-lg-offset-2.col-md-offset-2.col-md-8.col-md-offset-2.col-sm-offset-2.col-sm-8.col-sm-offset-2.col-xs-offset-2.col-xs-8.col-xs-offset-2 2016年度 調布市民体育祭剣道競技大会
   h2 一般男子(三段以下の部) 1回戦
   table.table.table-striped.table-responsive
    tr
     td 電通大
     td 石井
     td ド メ
     td -
     td
     td 藤田
     td 中央会
   h2 一般男子(三段以下の部) 2回戦
   table.table.table-striped.table-responsive
    tr
     td 電通大
     td 石井
     td ド メ
     td -
     td コ
     td 芳賀
     td 調布北
   h2 一般男子(三段以下の部) 3回戦
   table.table.table-striped.table-responsive
    tr
     td 電通大
     td 石井
     td
     td -
     td メ メ
     td 佐伯
     td 染地
   h2 一般男子(四・五段以下の部) 1回戦
   table.table.table-striped.table-responsive
    tr
     td 電通大
     td 池崎
     td ド
     td -
     td メ メ
     td 木村
     td 個人
   h2 一般女子の部 1回戦
   table.table.table-striped.table-responsive
    tr
     td 電通大
     td 苅谷
     td メ ド
     td -
     td ド
     td 山本
     td 白百合
   h2 一般女子の部 2回戦
   table.table.table-striped.table-responsive
    tr
     td 電通大
     td 苅谷
     td メ メ
     td -
     td
     td 村上
     td 調布北
   h2 一般女子の部 準決勝
   table.table.table-striped.table-responsive
    tr
     td 電通大
     td 苅谷
     td
     td -
     td コ
     td 杉浦
     td 白百合
