extends ../../base

block each_css
 link(href="/css/result.css" type="text/css" rel="stylesheet")
 
block content
 div.results
  div.container
   div.row
    h1.col-lg-offset-2.col-lg-8.col-lg-offset-2.col-md-offset-2.col-md-8.col-md-offset-2.col-sm-offset-2.col-sm-8.col-sm-offset-2.col-xs-offset-2.col-xs-8.col-xs-offset-2 2016年度 関東学生剣道優勝大会
   h2 男子団体 1回戦
   table.table.table-striped.table-responsive
    tr
     td: b 電通大
     td
     td -
     td
     td: b 山梨大
    tr
     td 夏目
     td メ
     td -
     td メ
     td 荒田
    tr
     td 本村
     td メ メ
     td -
     td コ
     td 丸山
    tr
     td 上岡
     td
     td -
     td コ メ
     td 中田
    tr
     td 喜地
     td
     td -
     td メ
     td 青木
    tr
     td 平井
     td
     td -
     td メ コ
     td 宮入
    tr
     td 関口
     td ド
     td -
     td メ コ
     td 勝又
    tr
     td 長谷川
     td
     td -
     td メ メ
     td 丸山
    tr
     td
     td 4/1
     td -
     td 11/5
     td
