extends ../../base

block each_css
 link(href="/css/result.css" type="text/css" rel="stylesheet")
 
block content
 div.results
  div.container
   div.row
    h1.col-lg-offset-2.col-lg-8.col-lg-offset-2.col-md-offset-2.col-md-8.col-md-offset-2.col-sm-offset-2.col-sm-8.col-sm-offset-2.col-xs-offset-2.col-xs-8.col-xs-offset-2 2015年度 関東学生剣道選手権大会
   h2 男子個人 1回戦
   table.table.table-striped.table-responsive
    tr
     td 電通大
     td 芳野
     td ド
     td -
     td
     td 永沼
     td 中央学院大
    tr
     td 電通大
     td 百田
     td
     td -
     td メ
     td 川村
     td 東京大
    tr
     td 電通大
     td 山嵜
     td
     td -
     td ド
     td 山口
     td 横浜市立大
   h2 男子個人 2回戦
   table.table.table-striped.table-responsive
    tr
     td 電通大
     td 芳野
     td ▲▲
     td -
     td 反
     td 三浦
     td 駒沢大
