extends ../../base

block each_css
 link(href="/css/result.css" type="text/css" rel="stylesheet")
 
block content
 div.results
  div.container
   div.row
    h1.col-lg-offset-2.col-lg-8.col-lg-offset-2.col-md-offset-2.col-md-8.col-md-offset-2.col-sm-offset-2.col-sm-8.col-sm-offset-2.col-xs-offset-2.col-xs-8.col-xs-offset-2 2015年度 明鏡杯争奪剣道大会
   h2 男子団体 予選リーグ 第1試合
   table.table.table-striped.table-responsive
    tr
     td: b 電通大
     td
     td -
     td
     td: b 玉川大
    tr
     td 岡野
     td
     td -
     td メ メ
     td 伊藤
    tr
     td 細田
     td
     td -
     td メ コ
     td 糟谷
    tr
     td 上岡
     td
     td -
     td コ メ
     td 竹内
    tr
     td 長谷川
     td メ
     td -
     td コ
     td 清水
    tr
     td 石井
     td
     td -
     td コ メ
     td 石井
    tr
     td 関口
     td
     td -
     td メ メ
     td 菅谷
    tr
     td 平井
     td
     td -
     td
     td 湯野川
    tr
     td
     td 1/0
     td -
     td 11/6
     td
   h2 男子団体 予選リーグ 第2試合
   table.table.table-striped.table-responsive
    tr
     td: b 電通大
     td
     td -
     td
     td: b 獨協大
    tr
     td 岡野
     td
     td -
     td メ メ
     td 牛木
    tr
     td 夏目
     td
     td -
     td メ
     td 岡村
    tr
     td 喜地
     td
     td -
     td メ メ
     td 伊藤
    tr
     td 関口
     td
     td -
     td コ メ
     td 神原
    tr
     td 石井
     td メ
     td -
     td
     td 河村
    tr
     td 平井
     td
     td -
     td メ メ
     td 森重
    tr
     td 長谷川
     td メ メ
     td -
     td
     td 松浦
    tr
     td
     td 3/2
     td -
     td 9/5
     td
   h2 女子団体 1回戦
   table.table.table-striped.table-responsive
    tr
     td: b 電通大
     td
     td -
     td
     td: b 武蔵大(混成)
    tr
     td 苅谷
     td
     td -
     td
     td 吉田
    tr
     td
     td
     td -
     td
     td
    tr
     td 齋藤
     td ド
     td -
     td コ メ
     td 川口(聖科大)
    tr
     td
     td
     td -
     td
     td
    tr
     td 稲積
     td
     td -
     td メ メ
     td 宮下
    tr
     td
     td 1/0
     td -
     td 4/2
     td
   h2 女子団体 敗者復活戦
   table.table.table-striped.table-responsive
    tr
     td: b 電通大
     td
     td -
     td
     td: b 武蔵野大
    tr
     td 苅谷
     td
     td -
     td
     td 佐藤
    tr
     td
     td
     td -
     td
     td
    tr
     td 齋藤
     td
     td -
     td メ メ
     td 大部
    tr
     td
     td
     td -
     td ○ ○
     td 松尾
    tr
     td 稲積
     td
     td -
     td
     td 安納
    tr
     td
     td 0/0
     td -
     td 4/2
     td
