extends ../../base

block each_css
 link(href="/html/css/result.css" type="text/css" rel="stylesheet")
 
block content
 div.results
  div.container
   div.row
    h1.col-lg-offset-2.col-lg-8.col-lg-offset-2.col-md-offset-2.col-md-8.col-md-offset-2.col-sm-offset-2.col-sm-8.col-sm-offset-2.col-xs-offset-2.col-xs-8.col-xs-offset-2 2015年度 関東学生剣道新人戦大会
   h2 男子団体 2回戦
   table.table.table-striped.table-responsive
    tr
     td: b 電通大
     td
     td -
     td
     td: b 尚美学園大
    tr
     td 夏目
     td メ
     td -
     td メ
     td 鈴木
    tr
     td 喜地
     td
     td -
     td
     td 樋田
    tr
     td 上岡
     td
     td -
     td ▲
     td 中嶋
    tr
     td 平井
     td
     td -
     td
     td 石川
    tr
     td 細田
     td 
     td -
     td メ
     td 大木
    tr
     td 石井
     td メ メ
     td -
     td メ
     td 松本
    tr
     td 長谷川
     td メ コ
     td -
     td
     td 角山
    tr
     td
     td 5/2
     td -
     td 2/1
     td
   h2 男子団体 3回戦
   table.table.table-striped.table-responsive
    tr
     td: b 電通大
     td
     td -
     td
     td: b 順天堂大
    tr
     td 夏目
     td コ
     td -
     td コ コ
     td 青木
    tr
     td 喜地
     td
     td -
     td
     td 佐藤
    tr
     td 上岡
     td メ
     td -
     td メ メ
     td 東海林
    tr
     td 平井
     td
     td -
     td メ ツ
     td 原田
    tr
     td 細田
     td メ
     td -
     td
     td 庄子
    tr
     td 石井
     td
     td -
     td コ メ
     td 田口
    tr
     td 長谷川
     td メ メ
     td -
     td コ
     td 小池
    tr
     td
     td 5/2
     td -
     td 9/4
     td
