extends ../../base

block each_css
 link(href="/html/css/result.css" type="text/css" rel="stylesheet")
 
block content
 div.results
  div.container
   div.row
    h1.col-lg-offset-2.col-lg-8.col-lg-offset-2.col-md-offset-2.col-md-8.col-md-offset-2.col-sm-offset-2.col-sm-8.col-sm-offset-2.col-xs-offset-2.col-xs-8.col-xs-offset-2 2015年度 都下大学剣道大会
   h2 男子団体 1回戦
   table.table.table-striped.table-responsive
    tr
     td: b 電通大
     td
     td -
     td
     td: b 武蔵野大
    tr
     td 夏目
     td
     td -
     td
     td 有馬
    tr
     td 喜地
     td コ メ
     td -
     td
     td 稲原
    tr
     td 上岡
     td ○○
     td -
     td
     td
    tr
     td 平井
     td
     td -
     td
     td 宮下
    tr
     td 細田
     td ド メ
     td -
     td
     td 佐藤
    tr
     td 関口
     td コ コ
     td -
     td
     td 外間
    tr
     td 長谷川
     td メ ▲
     td -
     td メ
     td 船山
    tr
     td
     td 7/4
     td -
     td 1/0
     td
   h2 男子団体 2回戦
   table.table.table-striped.table-responsive
    tr
     td: b 電通大
     td
     td -
     td
     td: b 東京薬科大
    tr
     td 夏目
     td ド ▲
     td -
     td ド
     td 田村
    tr
     td 喜地
     td
     td -
     td
     td 小川
    tr
     td 上岡
     td
     td -
     td コ メ
     td 西田
    tr
     td 平井
     td
     td -
     td メ コ
     td 大竹
    tr
     td 細田
     td メ
     td -
     td
     td 阿由葉
    tr
     td 石井
     td メ
     td -
     td メ メ
     td 川島
    tr
     td 長谷川
     td メ
     td -
     td
     td 新井
    tr
     td
     td 4/2
     td -
     td 7/3
     td
   h2 女子団体 1回戦
   table.table.table-striped.table-responsive
    tr
     td: b 電通大
     td
     td -
     td
     td: b 玉川大
    tr
     td 苅谷
     td メ
     td -
     td
     td 千葉
    tr
     td
     td
     td -
     td ○○
     td 飯田
    tr
     td 齋藤
     td
     td -
     td メ コ
     td 山崎
    tr
     td
     td
     td -
     td ○○
     td 石塚
    tr
     td 稲積
     td
     td -
     td コ メ
     td 梁瀬
    tr
     td
     td 1/1
     td -
     td 8/4
     td
   h2 男子個人 1回戦
   table.table.table-striped.table-responsive
    tr
     td 電通大
     td 長谷川
     td メ メ ▲
     td -
     td
     td 稲吉
     td 杏林大
    tr
     td 電通大
     td 上岡
     td
     td -
     td コ ド
     td 二神
     td 東京農工大
   h2 男子個人 2回戦
   table.table.table-striped.table-responsive
    tr
     td 電通大
     td 長谷川
     td
     td -
     td メ コ
     td 田村
     td 東京薬科大
   h2 女子個人 1回戦
   table.table.table-striped.table-responsive
    tr
     td 電通大
     td 稲積
     td ド メ
     td -
     td
     td 今出
     td 東京薬科大
    tr
     td 電通大
     td 苅谷
     td メ
     td -
     td
     td 鈴木
     td 武蔵野大
   h2 女子個人 2回戦
   table.table.table-striped.table-responsive
    tr
     td 電通大
     td 稲積
     td ド
     td -
     td メ メ
     td 小木
     td 桜美林大
    tr
     td 電通大
     td 苅谷
     td ▲
     td -
     td メ
     td 大内
     td 亜細亜大
