extends ../../base

block each_css
 link(href="/css/result.css" type="text/css" rel="stylesheet")
 
block content
 div.results
  div.container
   div.row
    h1.col-lg-offset-2.col-lg-8.col-lg-offset-2.col-md-offset-2.col-md-8.col-md-offset-2.col-sm-offset-2.col-sm-8.col-sm-offset-2.col-xs-offset-2.col-xs-8.col-xs-offset-2 2015年度 東京都学生剣道選手権大会
   h2 男子個人 1回戦
   table.table.table-striped.table-responsive
    tr
     td 電通大
     td 長谷川
     td メ メ
     td -
     td
     td 木村
     td 工学院大
   h2 男子個人 2回戦
   table.table.table-striped.table-responsive
    tr
     td 電通大
     td 長谷川
     td
     td -
     td メ
     td 高田
     td 立教大
   h2 女子個人 1回戦
   table.table.table-striped.table-responsive
    tr
     td 電通大
     td 稲積
     td
     td -
     td メ メ
     td 高木
     td 明星大
    tr
     td 電通大
     td 齋藤
     td
     td -
     td メ メ
     td 近藤
     td 立教大
    tr
     td 電通大
     td 苅谷
     td コ コ
     td -
     td
     td 山根
     td お茶の水女子大
   h2 女子個人 2回戦
   table.table.table-striped.table-responsive
    tr
     td 電通大
     td 苅谷
     td ▲▲
     td -
     td 反
     td 市岡
     td 中央大
