extends ../../base

block each_css
 link(href="/html/css/result.css" type="text/css" rel="stylesheet")
 
block content
 div.results
  div.container
   div.row
    h1.col-lg-offset-2.col-lg-8.col-lg-offset-2.col-md-offset-2.col-md-8.col-md-offset-2.col-sm-offset-2.col-sm-8.col-sm-offset-2.col-xs-offset-2.col-xs-8.col-xs-offset-2 2015年度 調布市民体育祭剣道競技大会
   h2 一般男子(三段以下の部) Aブロック 1回戦
   table.table.table-striped.table-responsive
    tr
     td 電通大
     td 平井
     td メ メ
     td -
     td
     td 渡邊
     td 調布北
    tr
     td 電通大
     td 関口
     td メ コ
     td -
     td
     td 井本
     td 染地
    tr
     td 電通大
     td 菊池
     td メ 反
     td -
     td ド ▲▲▲
     td コルドー
     td 中央会
    tr
     td 電通大
     td 細田
     td メ メ
     td -
     td
     td 松浦
     td 中央会
    tr
     td 電通大
     td 芳野
     td メ メ
     td -
     td
     td 石田
     td 染地
    tr
     td 電通大
     td 池崎
     td メ メ
     td -
     td
     td 小渕
     td 個人
    tr
     td 電通大
     td 夏目
     td ド メ
     td -
     td
     td 小原
     td 大町
    tr
     td 電通大
     td 松本
     td メ コ
     td -
     td
     td 西岡
     td 中央会
   h2 一般男子(三段以下の部) Bブロック 1回戦
   table.table.table-striped.table-responsive
    tr
     td 電通大
     td 岡野
     td メ メ
     td -
     td
     td 小西
     td 大町
    tr
     td 電通大
     td 上岡
     td
     td -
     td メ
     td 平沼
     td 大町
    tr
     td 電通大
     td 丸谷
     td メ
     td -
     td コ メ
     td 竹内
     td 中央会
    tr
     td 電通大
     td 豊田
     td コ
     td -
     td コ メ
     td 柘植
     td 染地
    tr
     td 電通大
     td 粟島
     td ○○
     td -
     td
     td 乙黒
     td 深大寺
    tr
     td 電通大
     td 小林
     td メ メ
     td -
     td
     td 大同
     td 染地
    tr
     td 電通大
     td 中原
     td コ メ
     td -
     td
     td 阿部
     td 聖武会
    tr
     td 電通大
     td 石井
     td メ
     td -
     td
     td 野倉
     td 大町
    tr
     td 電通大
     td 喜地
     td
     td -
     td メ
     td 小野
     td 中央会
   h2 一般男子(三段以下の部) Aブロック 2回戦
   table.table.table-striped.table-responsive
    tr
     td 電通大
     td 平井
     td メ コ
     td -
     td
     td 坂野
     td 大町
    tr
     td 電通大
     td 関口
     td メ
     td -
     td
     td 菊池
     td 電通大
    tr
     td 電通大
     td 細田
     td メ コ
     td -
     td
     td 米野
     td 大町
    tr
     td 電通大
     td 芳野
     td ド メ
     td -
     td
     td 山部
     td 神代高
    tr
     td 電通大
     td 百田
     td コ コ
     td -
     td
     td 海藤
     td 染地
    tr
     td 電通大
     td 池崎
     td コ コ
     td -
     td
     td 秋元
     td 大町
    tr
     td 電通大
     td 夏目
     td ツ
     td -
     td
     td 佐伯
     td 染地
    tr
     td 電通大
     td 松本
     td
     td -
     td メ コ
     td 増田
     td 深大寺
   h2 一般男子(三段以下の部) Bブロック 2回戦
   table.table.table-striped.table-responsive
    tr
     td 電通大
     td 岡野
     td コ コ
     td -
     td
     td 平間
     td 神代高
    tr
     td 電通大
     td 粟島
     td メ コ
     td -
     td
     td 伊藤
     td 大町
    tr
     td 電通大
     td 小林
     td コ メ
     td -
     td
     td 五十嵐
     td 中央会
    tr
     td 電通大
     td 中原
     td
     td -
     td コ
     td 野島
     td 調布北
    tr
     td 電通大
     td 石井
     td メ メ
     td -
     td
     td 高山
     td 深大寺
   h2 一般男子(三段以下の部) Aブロック 3回戦
   table.table.table-striped.table-responsive
    tr
     td 電通大
     td 平井
     td ド
     td -
     td ド コ
     td 関口
     td 電通大
    tr
     td 電通大
     td 細田
     td
     td -
     td コ ド
     td 芳野
     td 電通大
    tr
     td 電通大
     td 百田
     td コ メ
     td -
     td メ
     td 池崎
     td 電通大
    tr
     td 電通大
     td 夏目
     td メ コ
     td -
     td
     td 増田
     td 深大寺
   h2 一般男子(三段以下の部) Bブロック 3回戦
   table.table.table-striped.table-responsive
    tr
     td 電通大
     td 岡野
     td
     td -
     td コ
     td 平沼
     td 大町
    tr
     td 電通大
     td 粟島
     td
     td -
     td ド
     td 竹内
     td 中央会
    tr
     td 電通大
     td 小林
     td ▲▲
     td -
     td 反
     td 野島
     td 調布北
    tr
     td 電通大
     td 石井
     td
     td -
     td ド
     td 佐々木
     td 個人
   h2 一般男子(三段以下の部) Aブロック 4回戦
   table.table.table-striped.table-responsive
    tr
     td 電通大
     td 芳野
     td メ ド
     td -
     td
     td 関口
     td 電通大
    tr
     td 電通大
     td 百田
     td メ メ
     td -
     td
     td 夏目
     td 電通大
   h2 一般男子(三段以下の部) 準決勝
   table.table.table-striped.table-responsive
    tr
     td 電通大
     td 百田
     td コ メ
     td -
     td
     td 芳野
     td 電通大
   h2 一般男子(三段以下の部) 決勝
   table.table.table-striped.table-responsive
    tr
     td 電通大
     td 百田
     td
     td -
     td メ
     td 佐々木
     td 個人
   h2 一般男子(四・五段以下の部) 1回戦
   table.table.table-striped.table-responsive
    tr
     td 電通大
     td 長谷川
     td メ
     td -
     td
     td 溝井
     td 中央会
   h2 一般男子(四・五段以下の部) 2回戦
   table.table.table-striped.table-responsive
    tr
     td 電通大
     td 長谷川
     td メ
     td -
     td
     td 三宅
     td 大町
   h2 一般男子(四・五段以下の部) 3回戦
   table.table.table-striped.table-responsive
    tr
     td 電通大
     td 長谷川
     td メ
     td -
     td
     td 秋本
     td 中央会
   h2 一般男子(四・五段以下の部) 準決勝
   table.table.table-striped.table-responsive
    tr
     td 電通大
     td 長谷川
     td メ ド
     td -
     td
     td 木村
     td 個人
   h2 一般男子(四・五段以下の部) 決勝
   table.table.table-striped.table-responsive
    tr
     td 電通大
     td 長谷川
     td 反
     td -
     td ▲▲
     td 西澤
     td 大町
   h2 一般女子の部 1回戦
   table.table.table-striped.table-responsive
    tr
     td 電通大
     td 稲積
     td ド
     td -
     td
     td 土屋
     td 染地
    tr
     td 電通大
     td 齋藤
     td
     td -
     td メ
     td 松崎
     td 調布北
    tr
     td 電通大
     td 刈谷
     td
     td -
     td コ
     td 廣瀬
     td 個人
   h2 一般女子の部 2回戦
   table.table.table-striped.table-responsive
    tr
     td 電通大
     td 稲積
     td コ メ
     td -
     td
     td 岸野
     td 調布北
   h2 一般女子の部 準決勝
   table.table.table-striped.table-responsive
    tr
     td 電通大
     td 稲積
     td メ ド
     td -
     td
     td 小峰
     td 明大高
   h2 一般女子の部 決勝
   table.table.table-striped.table-responsive
    tr
     td 電通大
     td 稲積
     td ド
     td -
     td メ コ
     td 山田
     td 個人
