extends ../../base

block each_css
 link(href="/css/result.css" type="text/css" rel="stylesheet")
 
block content
 div.results
  div.container
   div.row
    h1.col-lg-offset-2.col-lg-8.col-lg-offset-2.col-md-offset-2.col-md-8.col-md-offset-2.col-sm-offset-2.col-sm-8.col-sm-offset-2.col-xs-offset-2.col-xs-8.col-xs-offset-2 2015年度 関東学生剣道優勝大会
   h2 男子団体 2回戦
   table.table.table-striped.table-responsive
    tr
     td: b 電通大
     td
     td -
     td
     td: b 白鴎大
    tr
     td 夏目
     td
     td -
     td メ
     td 森宅
    tr
     td 喜地
     td
     td -
     td
     td 佐藤
    tr
     td 上岡
     td コ
     td -
     td
     td 杉本
    tr
     td 細田
     td
     td -
     td
     td 木戸間
    tr
     td 石井
     td
     td -
     td メ
     td 蒲井
    tr
     td 関口
     td
     td -
     td メ メ
     td 野間
    tr
     td 長谷川
     td メ
     td -
     td コ コ
     td 田村
    tr
     td
     td 2/1
     td -
     td 6/4
     td
