extends ../base

block each_css
 link(href="/css/scene.css" type="text/css" rel="stylesheet")
 // 以下, bootstrap-image-gallery 利用のためのCSS
 link(href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css" type="text/css" rel="stylesheet")
 link(href="/css/bootstrap-image-gallery.min.css" type="text/css" rel="stylesheet")

block content
 // 写真はここから
 block pictures
 // 写真はここまで

 // The Bootstrap Image Gallery lightbox, should be a child element of the document body
 div#blueimp-gallery.blueimp-gallery
  // The container for the modal slides
  div.slides
  // Controls for the borderless lightbox
  h3.title
  a.prev ‹
  a.next ›
  a.close ×
  a.play-pause
  ol.indicator
  // The modal dialog, which will be used to wrap the lightbox content
  div.modal.fade
   div.modal-dialog
    div.modal-content
     div.modal-header
      button.close(type="button" aria-hidden="true") &times;
      h4.modal-title
     div.modal-body.next
     div.modal-footer
      button.btn.btn-default.pull-left.prev(type="button" class="btn btn-default pull-left prev")
       i.glyphicon.glyphicon-chevron-left
      button.btn.btn-primary.next(type="button")
       i.glyphicon.glyphicon-chevron-right

block each_js
 // 以下, bootstrap-image-gallery 利用のためのJS
 script(src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js")
 script(src="/js/bootstrap-image-gallery.min.js")
