extends ../base

block each_css
 link(href="/html/css/scene.css" type="text/css" rel="stylesheet")

block content
 div.scenes
  h1 2015年度 夏期合宿
  div.container
   div.row
    div.col-md-4
     p: img.img-rounded.img-responsive(src="/html/images/scene/summer_gassyuku2015_01.jpg")
    div.col-md-4
     p: img.img-rounded.img-responsive(src="/html/images/scene/summer_gassyuku2015_02.jpg")
    div.col-md-4
     p: img.img-rounded.img-responsive(src="/html/images/scene/summer_gassyuku2015_03.jpg")
