extends ../../base

block each_css
 link(href="/css/result.css" type="text/css" rel="stylesheet")
 
block content
 div.results
  div.container
   div.row
    h1.col-lg-offset-2.col-lg-8.col-lg-offset-2.col-md-offset-2.col-md-8.col-md-offset-2.col-sm-offset-2.col-sm-8.col-sm-offset-2.col-xs-offset-2.col-xs-8.col-xs-offset-2 2014年度 東京地区国公立大学剣道大会
   h2 男子団体 1回戦
   table.table.table-striped.table-responsive
    tr
     td: b 電通大
     td
     td -
     td
     td: b 東京農工大
    tr
     td 長谷川
     td
     td -
     td
     td 高岩
    tr
     td 中村
     td
     td -
     td
     td 天方
    tr
     td 岡野
     td ▲
     td -
     td コ メ
     td 高見
    tr
     td 芳野
     td
     td -
     td
     td 佃
    tr
     td 関口
     td
     td -
     td ド メ
     td 公文
    tr
     td 百田
     td メ
     td -
     td コ コ
     td 西尾
    tr
     td 宇野
     td
     td -
     td
     td 大関
    tr
     td
     td 1/0
     td -
     td 6/3
     td
   h2 男子個人 1回戦
   table.table.table-striped.table-responsive
    tr
     td 電通大
     td 池崎
     td ド
     td -
     td コ コ
     td 高島
     td 東京海洋大
    tr
     td 電通大
     td 山嵜
     td
     td -
     td メ メ
     td 西尾
     td 東京農工大
    tr
     td 電通大
     td 高野
     td コ
     td -
     td メ メ
     td 小林
     td 東京学芸大
   h2 女子個人 1回戦
   table.table.table-striped.table-responsive
    tr
     td 電通大
     td 稲積
     td
     td -
     td コ メ
     td 赤岩
     td 東京外国語大
    tr
     td 電通大
     td 齊藤
     td
     td -
     td メ
     td 澤田
     td 一橋大
