extends ../../base

block each_css
 link(href="/css/result.css" type="text/css" rel="stylesheet")
 
block content
 div.results
  div.container
   div.row
    h1.col-lg-offset-2.col-lg-8.col-lg-offset-2.col-md-offset-2.col-md-8.col-md-offset-2.col-sm-offset-2.col-sm-8.col-sm-offset-2.col-xs-offset-2.col-xs-8.col-xs-offset-2 2014年度 明鏡杯争奪剣道大会
   h2 男子団体 予選リーグ 第1試合
   table.table.table-striped.table-responsive
    tr
     td: b 電通大
     td
     td -
     td
     td: b 玉川大
    tr
     td 長谷川
     td メ メ
     td -
     td コ
     td 伊藤
    tr
     td 関口
     td メ
     td -
     td メ メ
     td 糟谷
    tr
     td 池崎
     td
     td -
     td メ メ
     td 田熊
    tr
     td 芳野
     td
     td -
     td メ メ
     td 湯野川
    tr
     td 石井
     td
     td -
     td メ コ
     td 田中
    tr
     td 百田
     td
     td -
     td メ コ
     td 菅谷
    tr
     td 宇野
     td
     td -
     td メ メ
     td 清水
    tr
     td
     td 3/1
     td -
     td 13/6
     td
   h2 男子団体 予選リーグ 第2試合
   table.table.table-striped.table-responsive
    tr
     td: b 電通大
     td
     td -
     td
     td: b 東京電機大
    tr
     td 長谷川
     td メ コ
     td -
     td
     td 伊東
    tr
     td 関口
     td コ メ
     td -
     td コ
     td 渡邊
    tr
     td 池崎
     td メ
     td -
     td コ
     td 西田
    tr
     td 芳野
     td メ 反
     td -
     td ▲▲
     td 渡辺
    tr
     td 石井
     td
     td -
     td メ メ
     td 矢敷
    tr
     td 百田
     td コ
     td -
     td ▲
     td 内田
    tr
     td 宇野
     td
     td -
     td
     td 鮎川
    tr
     td
     td 8/4
     td -
     td 4/1
     td
   h2 女子団体 予選リーグ 第1試合
   table.table.table-striped.table-responsive
    tr
     td: b 電通大
     td
     td -
     td
     td: b 武蔵野大
    tr
     td 小森
     td メ
     td -
     td
     td 安納
    tr
     td
     td
     td -
     td
     td
    tr
     td 齋藤
     td
     td -
     td メ メ
     td 高水
    tr
     td
     td
     td -
     td
     td
    tr
     td 稲積
     td ▲
     td -
     td メ メ
     td 坂田
    tr
     td
     td 1/1
     td -
     td 4/2
     td
   h2 女子団体 予選リーグ 第2試合
   table.table.table-striped.table-responsive
    tr
     td: b 電通大
     td
     td -
     td
     td: b 上智大
    tr
     td 小森
     td
     td -
     td ▲
     td 水無瀬
    tr
     td
     td
     td -
     td ○ ○
     td 小渕
    tr
     td 齋藤
     td ▲▲
     td -
     td コ 反
     td 小泉
    tr
     td
     td
     td -
     td ○ ○
     td 堀川
    tr
     td 稲積
     td
     td -
     td メ メ
     td 辻
    tr
     td
     td 0/0
     td -
     td 4/4
     td
   h2 女子団体 予選リーグ 第3試合
   table.table.table-striped.table-responsive
    tr
     td: b 電通大
     td
     td -
     td
     td: b 成城大
    tr
     td 小森
     td メ メ
     td -
     td メ
     td 滝
    tr
     td
     td
     td -
     td
     td
    tr
     td 齋藤
     td ▲▲
     td -
     td メ 反
     td 千葉
    tr
     td
     td
     td -
     td
     td
    tr
     td 稲積
     td ▲
     td -
     td メ
     td 新山
    tr
     td
     td 2/1
     td -
     td 4/2
     td
