extends ../../base

block each_css
 link(href="/html/css/result.css" type="text/css" rel="stylesheet")
 
block content
 div.results
  div.container
   div.row
    h1.col-lg-offset-2.col-lg-8.col-lg-offset-2.col-md-offset-2.col-md-8.col-md-offset-2.col-sm-offset-2.col-sm-8.col-sm-offset-2.col-xs-offset-2.col-xs-8.col-xs-offset-2 2014年度 関東学生剣道優勝大会
   h2 男子団体 1回戦
   table.table.table-striped.table-responsive
    tr
     td: b 電通大
     td
     td -
     td
     td: b 山梨大
    tr
     td 長谷川
     td メ
     td -
     td メ ド
     td 前川
    tr
     td 関口
     td
     td -
     td コ メ
     td 田仲
    tr
     td 中原
     td
     td -
     td コ メ
     td 丸山
    tr
     td 芳野
     td
     td -
     td メ
     td 餌取
    tr
     td 石井
     td ド
     td -
     td メ
     td 勝又
    tr
     td 百田
     td コ
     td -
     td
     td 滝本
    tr
     td 宇野
     td
     td -
     td メ ▲
     td 松本
    tr
     td
     td 3/1
     td -
     td 9/5
     td
